<!doctype html><html lang="vi" xmlns:th="http://www.thymeleaf.org"><body>
<div th:fragment="nav">
  <nav>
    <a href="/student/schedule">Sinh viên: Đặt lịch</a>
    <a href="/student/sessions">Lịch của tôi</a>
    <a href="/student/history">Lịch sử học tập</a>
    <a href="/lecturer/sessions">Giảng viên</a>
    <a href="/admin/equipments">Thiết bị</a>
    <a href="/admin/borrowings">Xuất kho</a>
    <form method="post" action="/logout" style="display:inline"><button>Đăng xuất</button></form>
  </nav><hr/>
</div>
</body></html>
